# IDE files
.idea/
*.iml

# Maven/Gradle
target/
build/
.gradle/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Dependencies
/realestate-frontend/node_modules

/realestate-frontend/.env

/realestate-backend/.env

/realestate-backend/src/main/resources/application.properties

# Build output
dist/
out/

# Log files
*.log

# Local environment files
.env
